<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="main.html">MyBlog</a>
    </div>

</nav>

<div class="container-fluid">
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Тема</th>
      <th scope="col" class="col-2">Группа</th>
        <th scope="col" class="col-2">Пользователь</th>
      <th scope="col" class="col-3">Дата</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a href="post.html">Крым летом</a></td>
      <td>Путешествия</td>
        <td><a href="contacts.html">Матвей</a></td>
      <td>2021-04-29 15:19:24</td>
    </tr>
    <tr >
      <th scope="row">2</th>
        <td><a href="post.html">Изучаем 1С Предприятие</a></td>
      <td>Работа</td>
        <td><a href="contacts.html">Матвей</a></td>
      <td>2021-04-29 15:19:24</td>
    </tr>
      <tr>
      <th scope="row">3</th>
          <td><a href="post.html">Правильная посадка огурцов</a></td>
      <td>Работа</td>
          <td><a href="contacts.html">Светлана</a></td>
      <td>2021-04-29 15:19:24</td>
    </tr>
      <tr>
      <th scope="row">4</th>
          <td><a href="post.html">Коллекция марок</a></td>
      <td>Хобби</td>
          <td><a href="contacts.html">Светлана</a></td>
      <td>2021-04-29 15:19:24</td>
    </tr>
  </tbody>
</table>
</div>
</body>
</html>